@media (min-width: 576px) {

    .section-mec-uno {
        grid-template-rows: 25px 1fr;
        h2 {
            grid-column: span 2;
            text-align: center;
            text-justify: center;
        }

        h3 {
            grid-column: 2/ 3;
        }

        p {
            grid-column: 2/ 3;
        }

        figure {
            grid-column: 1/ 2;
            grid-row: 2/ 4;
            align-self: baseline;
        }
    }

    .section-mec-dos {
        grid-template-rows: 25px 1fr;
        h4 {
            grid-column: 1/ 2;
            text-align: left;
            text-justify: center;
            align-self: baseline;
        }

        p {
            grid-column: 1/ 2;
            align-self: baseline;
        }

        figure {
            grid-row: 1/ 3;
            grid-column: 2/ 3;
            width: 100%;
            height: 100%;
        }
    }

    /* SECTION MEC TRES */

    .section-mec-tres {
        grid-template-rows: 25px 1fr;
        h3 {
            grid-column: 2/ 3;
            text-align: left;
            text-justify: center;
            align-self: baseline;
        }

        p {
            align-self: baseline;
            grid-column: 2/ 3;
        }

        figure {
            grid-row: 1/ 3;
            grid-column: 1/ 2;
            width: 100%;
            height: 100%;
        }
    }
}