/* ---FOOTER MOBILE--- */
.footer {
    display: flex;
    border: $color-secundario 2px solid;
    background-color: $color-principal;
    justify-content: center;
    color: $color-texto;
    height: 220px;

    .barra-navegacion-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 7.5px;
        align-items: center;
        text-align: center;

        li {
            h3 {
                background-color: $color-secundario;
                border: gray 2px solid;

                a {
                    color: $color-texto;
                }
            }

            a {
                color: $color-texto;
            }
        }
    }

    .nav-footer {
        display: flex;
    }

    .contactos-footer {
        display: none;
    }

    .map-footer {
        display: none;
    }
}

/* -----FOOTER DESKTOP----- */
@media (min-width: 769px) {

    .footer {
        justify-content: space-around;
        padding: 15px;

        .barra-navegacion-footer {
            li {
                &:hover {
                    transform: scale(1.04, 1.04);
                }
            }
        }
    

    .contactos-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 7.5px;
        align-items: center;
        text-align: center;
    }

    .map-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

            li {
                a {
                    color: $color-texto;
                }
            }
        
    }
}
}