/* ---FOOTER MOBILE--- */
.footer {
    display: flex;
    border: 2px solid black;
    background-color: rgb(167, 167, 167);
    justify-content: center;

    .barra-navegacion-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 7.5px;
        align-items: center;
        text-align: center;
    }

    .nav-footer {
        display: flex;
    }

    .contactos-footer {
        display: none;
    }

    .map-footer {
        display: none;
    }
}

/* -----FOOTER DESKTOP----- */
@media (min-width: 769px) {

    .footer {
        justify-content: space-around;

        .contactos-footer {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 7.5px;
            align-items: center;
            text-align: center;
        }

        .map-footer {
            display: block;
        }
    }
}