/* ---HEADER MOBILE--- */
.header {
    height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px;
    justify-content: center;
    border: 2px solid $color-secundario;
    background-color: $color-principal;

    .titulo-principal-header {
        margin: 15px;
        border: 2px solid gray;
        background-color: $color-secundario;
        font-size: 1.35rem;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: $color-texto;
        }

    }

    .nav-header {
        display: block;


        .barra-navegacion {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 30px);
            justify-content: center;

            .item-nav {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    color: $color-texto;
                }

                &-active {
                    background-image: radial-gradient( rgb(77, 154, 255), rgba(114, 188, 248, 0));
                    transform: scale(1.15, 1.15);
                }

            }

            .buscar-nav {
                grid-column: span 2;
                align-items: center;
                display: flex;
                justify-content: space-around;
            }
        }
    }
}

/* ---HEADER TABLET--- */
@media (min-width: 576px) {

    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 100px;
        height: 175px;

        .nav-header {

            .barra-navegacion {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 35px);

                .buscar-nav {
                    grid-column: 2/ 4;
                }
            }
        }
    }
}

/*---HEADER DESKTOP--- */
@media (min-width: 769px) {

    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 130px;
        align-items: center;

        .titulo-principal-header {
            align-self: stretch;
            font-size: 2rem;
            height: 100px;
            align-self: center;
            max-width: 1200px;
            width: 90vw;

            &:hover {
                transform: scale(1.04, 1.04);
            }

        }

        .nav-header {
            display: flex;
            justify-content: center;
            align-self: stretch;
            align-items: center;
            width: 99vw;
            margin-bottom: 15px;

            .barra-navegacion {
                max-width: 1200px;
                width: 90vw;
                align-self: center;
                display: flex;
                justify-content: space-between;

                .item-nav {
                    &:hover {
                        transform: scale(1.2, 1.2);
                    }
                }

            }
        }
    }
}